#table
{
border:thick #000099 ;
background-color: #FFCCFF;
color:#000099;
border:#0000FF;
font-size:16px ;
font-weight:100 ;
}
.tr
{
border:thick #000099 ;
font-size:30px ;
font-weight:100 ;
}
/* CSS Document */

